@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #262626;
  color: #fafafa;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0;
  box-sizing: inherit;
  min-height: 100%;
  padding-bottom: 4rem;
}

 form input {
  color: black;
}